section.about
    .container
        .about__inner
            .about__items
                .about__item
                    .about__item-title Прокачиваем мир
                    .about__item-text
                        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
                .about__item
                    .about__item-title Мотивируем себя
                    .about__item-text
                        | У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?

                .about__item
                    .about__item-title Используем лучшее
                    .about__item-text
                        | Вы способны применять разные подходы для достижения своих целей?
                .about__item
                    .about__item-title Относимся с пониманием
                    .about__item-text
                        | Вы не обвиняете других в свои неудачах и способны воспринимать критику?

