section.advantage
    .container
        .advantage__inner
            h2.title.title_small Приемущества работы с нами
            .advantage__items
                .advantage__item
                    .advantage__item-img
                    .advantage__item-title Делимся оптом и навыками
                    .advantage__item-hr
                    .advantage__item-text 
                        | Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
                        
                .advantage__item
                    .advantage__item-img
                    .advantage__item-title Стабильная зарплата
                    .advantage__item-hr
                    .advantage__item-text 
                        | Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
                .advantage__item
                    .advantage__item-img
                    .advantage__item-title Гибкий график
                    .advantage__item-hr
                    .advantage__item-text 
                        | Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.
