header.header
    .container
        .header__inner
            h1.header__title.title Ты готов стать профессионалом?
            .header__subtitle
                | Мы ищем 
                |
                span талантов                    
                |
                |и 
                |
                span саппортов        
                |
                | в команду. Решите на какую категорию вы претендуете. 
            a(href="#form").header__btn 
                span Заполнить анкету