
extends _base/_layout
block content
    include components/_header
    include components/_banner
    include components/_about
    include components/_info
    include components/_advantage
    include components/_form